{% extends "base.html" %}

{% block title %} - 500 Server Error{% endblock %}

{% block base_content %}
                <div class="row content">
                    <div class="col-md-12">
                        <div class="page-header">
                          <h1>500 Server Error</h1>
                        </div>
                        <p class="lead">Sorry, there is an internal server error at <a href="javascript:void();">{{ path }}</a>.</p>
                        <p>Please, <a href="mailto:admin@apio2016.org">contact administrator</a>.</p>
                    </div>
                </div>
{% endblock %}