{% extends "sidebar_base.html" %}

{% block title %} - Call for Tasks{% endblock %}

{% block competition_active %} active{% endblock %}
{% block callfortasks_active %} class="active"{% endblock %}

{% block navigation %}
                <div class="primary-content-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main' %}" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                        <li><a href="#" aria-hidden="true">Competition</a></li>
                        <li><a href="{% url 'callfortasks' %}" aria-hidden="true">Call for Tasks</a></li>
                    </ol>
                </div>
{% endblock %}

{% block content %}
                                <div class="col-md-12">
                                    <h2 class="page-header">Call for Tasks</h2>
                                    <div class="page-content">
                                        <p>The Asia-Pacific Informatics Olympiad (APIO) is an online contest for the Asian and Western Pacific region. APIO 2016 will be held on Saturday, May 7th, 2016. The host of the APIO 2016, Korean Committee for IOI, invites everyone in the APIO community to submit tasks for the APIO 2016 competition. Guidelines for tasks and instructions for submission are given below.</p>
                                        <h3>APIO competition tasks</h3>
                                        <p>APIO tasks are basically the same as tasks in International Olympiad in Informatics, which are typically focused on the design of efficient, correct algorithms. Input and output are to be kept as simple as possible. The submission of novel tasks types not yet seen in any recent programming contests is encouraged. The guidelines of task preparations of IOI should be considered, with no restriction. The documents about submission of IOI tasks, which can be used as reference to create the tasks, can be found at IOI website.</p>
                                        <p>To ensure a fair and interesting competition for all, tasks should satisfy the following conditions:</p>
                                        <ul>
                                        <li>The tasks should not have been seen by any potential APIO 2016 contestants.</li>
                                        <li>The tasks should not have been used in any similar competition.</li>
                                        <li>The tasks should be solvable by APIO competitors during an APIO contest round.</li>
                                        <li>The task descriptions should be unambiguous and easy to understand.</li>
                                        <li>The tasks should be culturally neutral.</li>
                                        <li>The tasks should be innovative.</li>
                                        </ul>
                                        <h3>What to submit</h3>

                                        <p>A task submission should be contained in one zip file up to 20 MB in size and submitted as described as follows.</p>
                                        <ul>
                                        <li><strong>Statement of the task in English</strong> The description should be written in English. The description should include any intended time and/or memory limits. The document should be submitted in LaTeX, PDF or MS Word format.</li>
                                        <li><strong>Description of the desired solution to the task</strong> At least one sample solution should be included, in either C, C++ or Pascal. It is highly desirable to include a short document that
                                        <ul>
                                        <li>outlines how a correct solution works, and</li>
                                        <li>discusses other possible solutions that students might think of but should not score full marks (e.g., solutions that are intuitive but incorrect, or solutions that are too slow). This discussion of incorrect solutions is particularly useful when constructing the test data.</li>
                                        </ul>
                                        </li>
                                        <li><strong>Suggestions for grading,</strong> test data or ideas for generating test data, the motivation behind the task, and any comments related to the task are also welcome. Test data should consist of a set of input files, a set of corresponding solution files, and possible grouping of test cases into subtasks. It will be helpful if each subtask is accompanied by a model solution that will solve all test cases within the subtask but will fail on some test cases in more difficult subtasks.<br/>

                                        Test data should come with a text file describing how the data was constructed, and/or what each case is designed to test (e.g., "cases #3 and #4 are balanced trees of maximal size, which gives a worst case scenario for the dynamic programming algorithm"; "cases #5 and #6 contain sparse graphs, so that students with poor edge selection routines can still score some points").</li>
                                        <li><strong>Extra information,</strong> especially coded solutions and grading suggestions, is highly appreciated.</li>
                                        <li><strong>Contact address</strong> (preferably one e-mail address) and background information on the task author(s): affiliation, country, and a description of the author's role in the APIO or national Olympiad, including training duties, over the period from APIO 2016 to APIO 2017.</li>
                                        </ul>
                                        <h3>How to submit</h3>
                                        <p>Email to <a class="link-black" href="mailto:contact@apio2016.org">contact@apio2016.org</a></p>

                                        <h3>Notes</h3>

                                        <p>Please note that all material submitted becomes the property of the APIO community, and that by submitting the author is assigning the Copyright and all rights to the submitted materials to the APIO community.</p>
                                        <p>Note that we do not wish to forbid authors of submitted tasks to be involved in other competitions and training, but we do ask them to take all necessary precautions to safeguard confidentiality.</p>
                                        <p>Submitted tasks, including the description and test cases, may be subject to modifications by the organizing committee.</p>

                                        <h3>Task selection process</h3>

                                        <p>Tasks that are not used will be kept secret, and will be returned to their submitters so that they can be used elsewhere. Note that all submitted tasks will be seen only by the host organizing committee, and the shortlisted tasks will be seen by all heads of delegations from the region. Communications among heads of delegations and hosts about the APIO tasks should be done mainly by e-mail and secured web.</p>
                                        <p>All submitted tasks will be shortlisted by the host of APIO 2016. Then, the shortlisted tasks are distributed to all heads of delegations. Hosts of delegations should provide suggestions and propose the final set of competition tasks to the host in order to make a final decision on the competition task set. If any countries need to translate the task scripts to their languages, the translated script must be submitted to the host up to three days before the competition day.</p>
                                        <p>At various moments during the preparation of the APIO 2016 competition, it is possible that submitted tasks are dropped from further consideration. However, it may still be necessary to revert such decisions later. In general, all submitted tasks, whether dropped or not, should be kept secret until the end of competition.</p>
                                        <p>Authors of submitted tasks will be recognized during APIO 2016 by listing their name, affiliation, and country (unless they specifically decline this).</p>

                                        <h3>Contact us</h3>

                                        <p>Email <a class="link-black" href="mailto:contact@apio2016.org">contact@apio2016.org</a></p>
                                    </div>
                                </div>
{% endblock %}