{% extends "sidebar_base.html" %}

{% block title %} - Call for Tasks{% endblock %}

{% block competition_active %} active{% endblock %}
{% block environment_active %} class="active"{% endblock %}

{% block navigation %}
                <div class="primary-content-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main' %}" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                        <li><a href="#" aria-hidden="true">Competition</a></li>
                        <li><a href="{% url 'environment' %}" aria-hidden="true">Environment</a></li>
                    </ol>
                </div>
{% endblock %}

{% block content %}
                                <div class="col-md-12">
                                    <h2 class="page-header">Environment</h2>
                                    <div class="page-content">
                                        <h3>Hardware</h3>
                                        <h4>Amazon EC2 instace (Asia - Seoul)</h4>
                                        <ul>
                                            <li>1 instance of c4.2xlarge (8 vCPU, 15 GB RAM)</li>
                                            <li>40 instances of c4.xlarge (4 vCPU, 7.5 GB RAM)</li>
                                        </ul>
                                        <h3>Software</h3>
                                        <ul>
                                            <li>Operating System: Ubuntu Server 14.04, 64-bit</li>
                                            <li>C/C++ Compiler: GNU GCC 4.8.4</li>
                                            <li>Contest management software: CMS (<a href="http://cms-dev.github.io" target="_blank">http://cms-dev.github.io</a>)</li>
                                        </ul>
                                    </div>
                                </div>
{% endblock %}