{% extends "sidebar_base.html" %}

{% block title %} - Call for Tasks{% endblock %}

{% block competition_active %} active{% endblock %}
{% block environment_active %} class="active"{% endblock %}

{% block navigation %}
                <div class="primary-content-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main' %}" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                        <li><a href="#" aria-hidden="true">Competition</a></li>
                        <li><a href="{% url 'environment' %}" aria-hidden="true">Environment</a></li>
                    </ol>
                </div>
{% endblock %}

{% block content %}
                                <div class="col-md-12">
                                    <h2 class="page-header">Environment</h2>
                                    <div class="page-content">
                                        <p>TBA</p>
                                    </div>
                                </div>
{% endblock %}