{% extends "sidebar_base.html" %}

{% block title %} - Links{% endblock %}

{% block links_active %} class="active"{% endblock %}

{% block navigation %}
                <div class="primary-content-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main' %}" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                        <li><a href="{% url 'links' %}" aria-hidden="true">Links</a></li>
                    </ol>
                </div>
{% endblock %}

{% block content %}
                                <div class="col-md-12">
                                    <h2 class="page-header">Links</h2>
                                    <div class="page-content">
                                        <h3>Previous APIOs</h3>
                                        <ul>
                                            <li>APIO 2015 - <a href="http://www.apio2015.org" target="_blank">http://www.apio2015.org</a></li>
                                            <li>APIO 2014 - <a href="http://olympiads.kz/apio2014/" target="_blank">http://olympiads.kz/apio2014/</a></li>
                                            <li>APIO 2013 - <a href="http://apio.comp.nus.edu.sg/" target="_blank">http://apio.comp.nus.edu.sg/</a></li>
                                            <li>APIO 2012 - <a href="http://www.ioi-jp.org/apio2012/" target="_blank">http://www.ioi-jp.org/apio2012/</a></li>
                                        </ul>
                                        <h3>Current IOI</h3>
                                        <ul>
                                            <li>IOI 2016 - <a href="http://www.ioi2016.ru/" target="_blank">http://www.ioi2016.ru/ </a></li>
                                        </ul>
                                        <h3>APIO2016 Github</h3>
                                        <ul>
                                            <li><a href="http://github.com/apio-2016/" target="_blank">http://github.com/apio-2016/ </a></li>
                                        </ul>
                                    </div>
                                </div>
{% endblock %}