{% extends "sidebar_base.html" %}

{% block title %} - Schedules{% endblock %}

{% block schedules_active %} class="active"{% endblock %}

{% block navigation %}
                <div class="primary-content-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main' %}" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                        <li><a href="{% url 'schedules' %}" aria-hidden="true">Schedules</a></li>
                    </ol>
                </div>
{% endblock %}

{% block content %}
                                <div class="col-md-12">
                                    <h2 class="page-header">Schedules</h2>
                                    <div class="page-content">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Activity</th>
                                                    <th>Timeline</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="success">
                                                    <td>Registration opens</td>
                                                    <td>Tuesday, April 14, 2015</td>
                                                </tr>
                                                <tr class="success">
                                                    <td>Call for tasks deadline</td>
                                                    <td>Saturday, April 18, 2015</td>
                                                </tr>
                                                <tr class="success">
                                                    <td>Shortlist distribution and task selection vote</td>
                                                    <td>Saturday, April 25, 2015</td>
                                                </tr>
                                                <tr class="success">
                                                    <td>Task selection vote deadline</td>
                                                    <td>Thursday, April 30, 2015</td>
                                                </tr>
                                                <tr class="warning">
                                                    <td>Announcement on final problemset</td>
                                                    <td>Saturday, May 2, 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Registration closes</td>
                                                    <td>Saturday, May 2, 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Translated script submission deadline</td>
                                                    <td>Thursday, May 7, 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Competition day</td>
                                                    <td>
                                                        GMT+0 11.00, Friday, May 8 - 11.00, Sunday, May 10, 2015<br/>
                                                        <em>start and end time of contest must be in between</em>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Open contest day</td>
                                                    <td>
                                                        GMT+0 11.00, Sunday, May 10 - 11.00, Monday, May 11, 2015<br/>
                                                        <em>start and end time of contest must be in between</em>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Unofficial result</td>
                                                    <td>Monday, May 11, 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Appeal</td>
                                                    <td>Monday, May 11, 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Appeal deadline</td>
                                                    <td>Wednesday, May 13, 2015</td>
                                                </tr>
                                                <tr>
                                                    <td>Official result</td>
                                                    <td>Thursday, May 14, 2015</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <dl>
                                            <dt>Task Submission Deadline:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Shortlist distribution:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>명단 완성:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Task selection vote:</dt>
                                            <dd>4월 초</dd>
                                            <dd>&nbsp;</dd>
                                            <dt>Starting time of practice session:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Announcement on final set:</dt>
                                            <dd>4월 중</dd>
                                            <dd>&nbsp;</dd>
                                            <dt>Translated script submission deadline:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Ending time of practice session:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Competition day:</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Open contest 1 (5 hours):</dt>
                                            <dd>&nbsp;</dd>
                                            <dt>Open contest 2 (5 hours):</dt>
                                            <dd>&nbsp;</dd>
                                        </dl>
                                    </div>
                                </div>
{% endblock %}