{% extends "sidebar_base.html" %}

{% block title %} - Schedules{% endblock %}

{% block schedules_active %} class="active"{% endblock %}

{% block navigation %}
                <div class="primary-content-breadcrumb clearfix">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main' %}" class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
                        <li><a href="{% url 'schedules' %}" aria-hidden="true">Schedules</a></li>
                    </ol>
                </div>
{% endblock %}

{% block content %}
                                <div class="col-md-12">
                                    <h2 class="page-header">Schedules</h2>
                                    <div class="page-content">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Activity</th>
                                                    <th>Timeline</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="warning">
                                                    <td>Call for tasks deadline</td>
                                                    <td>Saturday, April 2, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Shortlist distribution and task selection vote</td>
                                                    <td>Saturday, April 9, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Announcement on final problemset</td>
                                                    <td>Saturday, April 30, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Registration closes</td>
                                                    <td>Saturday, April 30, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Practice Session Start</td>
                                                    <td>Monday, May 2, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Translated script submission deadline</td>
                                                    <td>Wednesday, May 4, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Practice Session End</td>
                                                    <td>Thursday, May 5, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Competition day</td>
                                                    <td>
                                                        GMT+0 11.00, Friday, May 6 - 11.00, Sunday, May 8, 2016<br/>
                                                        <em>start and end time of contest must be in between</em>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Open contest day</td>
                                                    <td>
                                                        GMT+0 11.00, Sunday, May 10 - 11.00, Monday, May 11, 2015<br/>
                                                        <em>start and end time of contest must be in between</em>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Unofficial result</td>
                                                    <td>Monday, May 9, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Appeal</td>
                                                    <td>Monday, May 9, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Appeal deadline</td>
                                                    <td>Wednesday, May 11, 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Official result</td>
                                                    <td>Thursday, May 12, 2016</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
{% endblock %}