{% extends "base.html" %}

{% block base_content %}
                {% block navigation %}
                {% endblock %}
                <div class="row content">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="sidebar">
                                <div class="row avatar">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="logo">
                                                <a href="{% url 'main' %}"><img src="/static/img/logo.png" alt="logo"></a>
                                            </div>
                                            <p class="text-center">Republic of Korea,<br>7 - 8 May 2016</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row menu">
                                    <ul class="nav nav-stacked">
                                        <li role="presentation"{% block news_active %}{% endblock %}><a href="{% url 'main' %}">News</a><div class="menu-arrow">&gt;</div></li>
                                        <li role="presentation"{% block results_active %}{% endblock %}><a href="{% url 'results' %}">Results</a><div class="menu-arrow">&gt;</div></li>
                                        <li role="presentation"{% block about_active %}{% endblock %}><a href="{% url 'about' %}">About</a><div class="menu-arrow">&gt;</div></li>
                                        <li role="presentation"{% block schedules_active %}{% endblock %}><a href="{% url 'schedules' %}">Schedules</a><div class="menu-arrow">&gt;</div></li>
                                        <li role="presentation"{% block regulations_active %}{% endblock %}><a href="{% url 'regulations' %}">Regulations</a><div class="menu-arrow">&gt;</div></li>
                                        <li class="dropdown{% block competition_active %}{% endblock %}"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Competition</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation"{% block register_active %}{% endblock %}><a href="{% url 'register' %}">Register</a><div class="menu-arrow">&gt;</div></li>
                                                <li role="presentation"{% block callfortasks_active %}{% endblock %}><a href="{% url 'callfortasks' %}">Call for Tasks</a><div class="menu-arrow">&gt;</div></li>
                                                <li role="presentation"{% block environment_active %}{% endblock %}><a href="{% url 'environment' %}">Environment</a><div class="menu-arrow">&gt;</div></li>
                                                <li role="presentation"{% block rules_active %}{% endblock %}><a href="{% url 'rules' %}">Rules</a><div class="menu-arrow">&gt;</div></li>
                                            </ul><div class="menu-arrow">&gt;</div>
                                        </li>
                                        <li role="presentation"{% block host_active %}{% endblock %}><a href="{% url 'host' %}">Host</a><div class="menu-arrow">&gt;</div></li>
                                        <li role="presentation"{% block links_active %}{% endblock %}><a href="{% url 'links' %}">Links</a><div class="menu-arrow">&gt;</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row primary-content">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}